.dashboard{
    margin-top: 2%;
        
    $breakpoint-tablet: 768px;
    $breakpoint-mobile: 480px;
    @media (max-width: $breakpoint-mobile) {
        margin-top: 8% 
    }
    @media (max-width: $breakpoint-tablet) {
        margin-top: 5%
    }
    .dashboard__overview{
        box-shadow: 0 2px 2px 1px #343A40;
        padding: 5% 3%;
        border-radius: 5px;
        h1{
            margin-bottom: 2%;
            font-family: 'Lato';
        }
        p{

        }
    }
    .dashboard__subdivision{
        margin-top: 5%;
        
        $breakpoint-tablet: 768px;
        $breakpoint-mobile: 480px;
        @media (max-width: $breakpoint-mobile) {
            margin-top: 15% 
        }
        @media (max-width: $breakpoint-tablet) {
            margin-top: 10%
        }
        
        .dashboardCard{
            padding: 30px 15px;
            box-shadow: 0 2px 2px 1px #2ECC71;
            border-radius: 5px;
            h2{
               font-size: 1.2rem ;
               font-family: 'Lato';
               margin-bottom: 10px;
            }
            p{
                display: flex;
                justify-content: space-between;
                margin-bottom: 2px;
            }
        }
    }
}