.login{
    padding: 15% 5% 5% 5%;
    @media(max-width: 425px ){
        padding: 15px 5px;
    }
    .login__box{
        padding: 20px 20px;
        box-shadow:  15px 15px 41px #cacaca,
                    -15px -15px 41px #f6f6f6;
        @media(max-width: 425px ){
            box-shadow: none;
        }
        .login_tag{
            h2{
                font-family: 'Roboto'
            }
        }
        .w-full{
            padding-right: 30px;
            @media(max-width: 425px ){
                padding-right: 0;
            }
            form{
                @media(max-width: 425px){
                    margin-top: 20px;
                }
                @media(max-width: 375px){
                    padding: 0;
                    box-shadow: none;
                }
            }
        }
    }
}