.register {
  padding: 5% 5% 0% 5%;
  .register__box {
    padding: 20px 20px;
    @media (max-width: 425px) {
      box-shadow: none;
      padding-top: 20%;
    }
    .signup_tag {
      h2 {
        font-family: "Roboto";
      }
    }
    .w-full {
      padding-right: 30px;
      @media (max-width: 425px) {
        form {
          padding: 0;
          box-shadow: none;
        }
      }
    }
  }
}
