.register{
    padding: 10% 5% 5% 5%;
    .register__box{
        padding: 20px 20px;
        box-shadow: 1px 1px 2px gray;
        @media(max-width: 425px ){
            box-shadow: none;
            padding-top: 20%;
        }
        .signup_tag{
            h2{
                font-family: 'Roboto'
            }
        }
        .w-full{
            padding-right: 30px;
            @media(max-width: 425px){
                form{
                    padding: 0;
                    box-shadow: none;
                }
            }
        }
    }
}